@import '/CSS/design1.css';
@import '/CSS/header.css';
@import '/CSS/sidebar.css';




/* header section */
.header{
    grid-area: hd;
    text-align: center;
    padding-top: 10px;
    background-color: #02B3E4 ;
    
    font-family: 'Courgette', cursive;
    color: rgb(237, 233, 242);    
}

h1{
    padding-left: 20px;
    background-color:#1F2932;
}

/* Content section */
.content{
    grid-area: bd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    text-align: center;
    padding:50px;
    width:100%;
    height: 100%;
    overflow: scroll;
}
img{
    width: 100%;
    height:100%;
    padding: 10px;
    margin: 0;
    padding:0;
    border-radius: 5px 5px 0px 0px;
}
figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }
.content-box-one p{
padding-top: 10px;
}
.content-box-two p{
    padding-top: 10px;
    }
.content-box{
   
    display: grid;

    background-color: #62849a;
    border:3px solid  black ;
    border-radius: 12px;
}

.content-box:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.content-box a{
    text-decoration: none;
    color: #000;
}
.content-box a:hover{
    color: rgb(213, 228, 236);
    padding: 20px;
}



h2{
    color:2px solid  black;
}

#para{
    padding-bottom: 5px;

    margin:0;
    font-size: 14px;
    color: #000;
}

/* Footer section */
.footer{
    grid-area:ft;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #6D7780;
    color:#FFFFFF;
    
}
.footer p{
    margin:0px;
    padding:0px;
    text-align: center;

}
.footer h3{
    margin:0px;

    padding-bottom:0px;
    padding-top: 10px;
}

a{
    text-decoration: none;
    color:2px solid  black
}
em{
    text-decoration: underline;
}


/* Screen for ipad */
@media screen and (min-width: 600px) and (max-width: 900px) {

    .grid-container{
        display:grid;
        grid-template-columns:repeat(4,1fr);
        grid-template-rows: 15% 70% 15%;
        grid-template-areas: "hd hd hd hd "
                             "div bd bd bd"
                             "ft ft ft ft";
          
        height: 100vh;     
        width:100%;    
       
    }
    .sidbar{

        display: flex;
        flex-direction: column;
        align-items: center;
    
        font-size: 25px;
        padding-top: 5px;
        gap: 40px;
        color: azure;
        background-color: #333;
        
    }

    .sidbar a:hover{
        color: #A4E4F5;
        background-color: #555555;
        font-size: 27px;
        padding:20px
    }

    button{
        border-radius: 12px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        color: white;
        font-size:27px;
    }
    button:hover{
        background-color:#555555;
        color: #A4E4F5;
        font-size:27px;
        padding: 20px;
    }
}


/* Screen for Labtop  */
@media only screen and (min-width: 901px){

    body{
        font-size: 27px;
        height:100vh;
        width: 100%;
        padding:0px;
        margin:0px;
    }

    .grid-container{
        display:grid;
        grid-template-columns:repeat(4,1fr);
        grid-template-rows: 11vw 79vw 10vw;
        grid-template-areas: "hd hd hd hd "
                             "div bd bd bd"
                             "ft ft ft ft";
          
        height: 100vh;     
        width:100%;    
        overflow: visible;

    }
    .sidbar{

        display: flex;
        flex-direction: column;
        align-items: center;
    
        font-size: 30px;
        padding: 20px;
        gap: 40px;
        color: azure;
        background-color: #333;
        
    }

    
    
    .sidbar a {
        padding: 5px;
        text-decoration: none;
        color: white;
        background-color: #333;
    }
    .sidbar a:hover{
        color: #A4E4F5;
        background-color: #555555;
        font-size: 35px;
        padding:20px
    }

    button{
        border-radius: 12px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        color: white;
        font-size:30px;
    }
    button:hover{
        background-color:#555555;
        color: #A4E4F5;
        font-size:35px;
        padding: 20px;
    }
    .content{
        grid-area: bd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:10px;
        text-align: center;
        padding:200px;
    }
    
    .content-box{
       
        display: grid;
        
        background-color: #2A77AA;
        border:3px solid  black ;
        border-radius: 12px;
        padding:30px;
    }
    
}